<!DOCTYPE HTML>
<html>

<!-- Begin Head -->
<head>

    <meta charset="utf-8">
    <title>Studio9</title>

    <!-- Begin Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="A Template by PixelZeesh"/>
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP, Responsive"/>
    <meta name="author" content="PixelZeesh"/>
    <!-- End Meta Tags -->

    <!-- Begin Stylesheets -->
    <link type="text/css" rel="stylesheet" href="../../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../../inc/entypo/style.css">
    <link type="text/css" rel="stylesheet" href="../../inc/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="../../js/isotope/isotope.css">
    <link type="text/css" rel="stylesheet" href="../../js/flexslider/flexslider.css">
    <link type="text/css" rel="stylesheet" href="../../js/owl_carousel/owl.theme.css">
    <link type="text/css" rel="stylesheet" href="../../js/tooltipster/tooltipster.css">
    <link type="text/css" rel="stylesheet" href="../../js/fancybox/jquery.fancybox.css">
    <link type="text/css" rel="stylesheet" href="../../js/owl_carousel/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="../../inc/font_awesome/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="../../js/fractionslider/fractionslider.css">
    <link type="text/css" rel="stylesheet" href="../../js/easy_pie_chart/style.css">
    <link type="text/css" rel="stylesheet" href="../../css/creative_theme.css">
    <link type="text/css" rel="stylesheet" href="../../css/style.css">
    <!-- End Stylesheets -->

    <!-- Begin JavaScript ( rest of Javascript after footer area) -->
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>
    <script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
    <!-- End JavaScript -->

</head>
<!-- End Head -->

<body>


<!-- Begin Style Switcher -->
<div class="style-switcher">

    <a href="#" class="style-switcher-handle icon3-cog"></a>

    <div class="styles-container">
        <span class="text1">CHOOSE</span>
        <span class="text2">YOUR STYLE</span>

        <!-- Style 1 -->
        <div class="style-1">
            <img src="../../images/style-switcher/img1.png" alt="">
            <a href="../corporate/home_corporate.html" class="overlay"></a>
            <a href="../corporate/home_corporate.html" class="style-name">CORPORATE</a>
        </div>

        <!-- Style 2 -->
        <div class="style-2">
            <img src="../../images/style-switcher/img2.png" alt="">
            <a href="../creative/home_creative.html" class="overlay"></a>
            <a href="../creative/home_creative.html" class="style-name">CREATIVE</a>
        </div>

        <!-- Style 3 -->
        <div class="style-3">
            <img src="../../images/style-switcher/img3.png" alt="">
            <a href="page_home.html" class="overlay"></a>
            <a href="page_home.html" class="style-name">MULTI PAGES</a>
        </div>
        <a href="#" class="button_regular red">PURCHASE NOW</a>
    </div>

</div>
<!-- End Style Switcher -->

<!-- Begin Navigation -->
<nav>

    <div class="nav-container">
        <div class="boxed">

            <!-- Logo -->
            <a href="#" class="logo"><img src="../../images/logo.png" alt=""></a>

            <!-- Tablet/Mobile Nav Button -->
            <a href="#" class="responsive_menu_button"><i class="icon-reorder"></i></a>

            <!-- Navigation Links -->
            <ul class="menu">

                <li>
                    <a href="page_home.html">home</a>
                    <ul class="sub_menu">
                        <li class="square"></li>
                        <li><a href="page_home_portfolio.html">home portfolio</a></li>
                    </ul>
                </li>
                <li><a href="page_services.html">services</a></li>
                <li><a href="page_strength.html">strength</a></li>
                <li>
                    <a href="page_portfolio.html">portfolio</a>
                    <ul class="sub_menu">
                        <li class="square"></li>
                        <li><a href="page_portfolio_single.html">Portfolio single</a></li>
                    </ul>
                </li>
                <li><a href="page_about_us.html" class="active">about</a></li>
                <li><a href="page_contact.html">contact</a></li>
                <li><a href="page_shortcodes.html">shortcodes</a></li>
                <li>
                    <a href="page_journal.html">journal</a>
                    <ul class="sub_menu">
                        <li class="square"></li>
                        <li><a href="page_journal_single.html">Journal single</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>

</nav>
<!-- End Navigation -->

<!-- Begin Page Container -->
<section class="page_about">

    <!-- Begin Top_Header -->
    <div class="top_header">

        <h2>
            <span class="text">
                <span class="left_line"></span>
                About Studio9
                <span class="right_line"></span>
            </span>
        </h2>
        <div class="boxed">
            <div class="sub_title">Create beautiful high fidelity prototypes for websites and UIs</div>
        </div>

    </div>
    <!-- End Top_Header -->

    <!-- Begin About us Section -->
    <section class="about_us">

        <div class="boxed">

            <div class="top_img"><img src="../../images/about_us/laptop.png" alt=""></div>

            <!-- Begin Why Us Area -->
            <div class="why_us">
                <div class="title">Why Choose Studio9?</div>
                <ul class="list">
                    <li>
                        <img src="../../images/about_us/icons1.png" alt="">
                        <div class="text">One time fee</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons2.png" alt="">
                        <div class="text">100% Source code</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons3.png" alt="">
                        <div class="text">Multi-vendor platform</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons4.png" alt="">
                        <div class="text">Social e-commerce</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons5.png" alt="">
                        <div class="text">Buy and sell concept</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons6.png" alt="">
                        <div class="text">Sell products & deals</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons7.png" alt="">
                        <div class="text">Multiple payment gateways</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons8.png" alt="">
                        <div class="text">100% Source Code</div>
                    </li>
                    <li>
                        <img src="../../images/about_us/icons9.png" alt="">
                        <div class="text">Free Installation</div>
                    </li>
                </ul>
            </div>
            <!-- End Why Us Area -->

            <div class="data">
                <div class="text">
                    <h2>About</h2>
                    <div class="sub_header">Create beautiful high fidelity prototypes for websites and UIs</div>
                    <div class="text2">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. of type and scrambled it to make a type specimen book. It has survived into electronic typesetting.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. of type and scrambled it to make a type specimen book. It has survived into electronic typesetting.</p><br />

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. of type and scrambled it to make a type specimen book. It has survived into electronic typesetting.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. of type and scrambled it to make a type specimen book. It has survived into electronic typesetting.</p><br />

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. of type and scrambled it to make a type specimen book. It has survived into electronic typesetting.</p><br />
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- End About us Section -->

    <!-- Begin Strength Section -->
    <section class="strength">

        <div class="boxed">

            <h2>Creative team</h2>
            <div class="sub_header">Create beautiful high fidelity prototypes for websites and UIs</div>
            <div class="team columns">
                <div class="member one_fourth">
                    <div class="border"></div>
                    <img src="../../images/team/member1.png" alt="">
                    <div class="name">Jose Maza</div>
                    <div class="job">Ui / Ux expertise</div>
                    <div class="social">
                        <a href="#" class="icon-pinterest"></a>
                        <a href="#" class="icon-dribbble"></a>
                        <a href="#" class="icon-twitter"></a>
                        <a href="#" class="icon-facebook"></a>
                        <a href="#" class="icon-skype"></a>
                    </div>
                </div>
                <div class="member one_fourth">
                    <div class="border"></div>
                    <img src="../../images/team/member2.png" alt="">
                    <div class="name">Montse Ramírez</div>
                    <div class="job">Senior Planer</div>
                    <div class="social">
                        <a href="#" class="icon-pinterest"></a>
                        <a href="#" class="icon-dribbble"></a>
                        <a href="#" class="icon-twitter"></a>
                        <a href="#" class="icon-facebook"></a>
                        <a href="#" class="icon-skype"></a>
                    </div>
                </div>
                <div class="member one_fourth">
                    <div class="border"></div>
                    <img src="../../images/team/member3.png" alt="">
                    <div class="name">Paco Garcia</div>
                    <div class="job">CFO / JWT Madrid</div>
                    <div class="social">
                        <a href="#" class="icon-pinterest"></a>
                        <a href="#" class="icon-dribbble"></a>
                        <a href="#" class="icon-twitter"></a>
                        <a href="#" class="icon-facebook"></a>
                        <a href="#" class="icon-skype"></a>
                    </div>
                </div>
                <div class="member one_fourth">
                    <div class="border"></div>
                    <img src="../../images/team/member4.png" alt="">
                    <div class="name">Alejandro Lobo</div>
                    <div class="job">Art Director</div>
                    <div class="social">
                        <a href="#" class="icon-pinterest"></a>
                        <a href="#" class="icon-dribbble"></a>
                        <a href="#" class="icon-twitter"></a>
                        <a href="#" class="icon-facebook"></a>
                        <a href="#" class="icon-skype"></a>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- End Strength Section -->

    <!-- Begin Services Section -->
    <section class="services">

    	<div class="boxed">
            
            <h2>Creative Services</h2>
            <div class="sub_header">How often do you purchase a WordPress theme only to be disappointed with the overwhelming<br />theme options or you come to find out that the theme is completely out of date?</div>
            <div class="icon_boxes_1 columns">
                <div class="icon_box one_fourth">
                    <div class="image">
                        <img src="../../images/services/icon1_white.png" alt="">
                    </div>
                    <div class="text">Strategy</div>
                </div>
                <div class="icon_box one_fourth">
                    <div class="image">
                        <img src="../../images/services/icon2_white.png" alt="">
                    </div>
                    <div class="text">User Experience</div>
                </div>
                <div class="icon_box one_fourth">
                    <div class="image">
                        <img src="../../images/services/icon3_white.png" alt="">
                    </div>
                    <div class="text">User Interface Design</div>
                </div>
                <div class="icon_box one_fourth">
                    <div class="image">
                        <img src="../../images/services/icon4_white.png" alt="">
                    </div>
                    <div class="text">Development</div>
                </div>
            </div>

        </div>

    </section>
    <!-- End Services Section -->

</section>
<!-- End Page Container -->

<!-- Begin Widgets Section -->
<section class="widgets">

    <div class="boxed columns">

        <!-- Begin Widget 1 -->
        <div class="widget location one_fourth">
            <h4>Studio9 Location</h4>
            <p>100 Mainstreet Center, Sydney</p>
            <p>Phone:(208) 333 9296</p>
            <p>Fax:(208) 333 9298</p>
            <p>Email: <a href="#">contact@studio9.com</a></p>
            <p>Web: <a href="#">www.studio9.com</a></p>
            <div class="social">
                <a href="#" class="icon-pinterest"></a>
                <a href="#" class="icon-dribbble"></a>
                <a href="#" class="icon-twitter"></a>
                <a href="#" class="icon-facebook"></a>
                <a href="#" class="icon-skype"></a>
            </div>
        </div>
        <!-- End Widget 1 -->

        <!-- Begin Widget 2 -->
        <div class="widget tags one_fourth">
            <h4>tags</h4>
            <a href="#">Art</a>
            <a href="#">Application</a>
            <a href="#">Design</a>
            <a href="#">Web</a>
            <a href="#">Internet</a>
            <a href="#">Marketing</a>
            <a href="#">Music</a>
            <a href="#">Print</a>
            <a href="#">Programming</a>
        </div>
        <!-- End Widget 2 -->

        <!-- Begin Widget 3 -->
        <div class="widget recent_posts one_fourth">
            <h4>Recent Post</h4>
            <a href="#"><i class="icon-chevron-right"></i><span>Sed ut perspiciatis unde omnis</span></a>
            <a href="#"><i class="icon-chevron-right"></i><span>Duis aute irure dolor in</span></a>
            <a href="#"><i class="icon-chevron-right"></i><span>Excepteur sint occaecat cupidatat</span></a>
            <a href="#"><i class="icon-chevron-right"></i><span>Nemo enim ipsam voluptatem quia</span></a>
            <a href="#"><i class="icon-chevron-right"></i><span>Quis autem vel eum iure</span></a>
        </div>
        <!-- End Widget 3 -->

        <!-- Begin Widget 4 -->
        <div class="widget flickr one_fourth">
            <h4>Flicker Widget</h4>
            <a href="http://www.flickr.com/photos/astragony/" target="_blank" >
                <img src="../../images/footer/flickr1.html" alt="">
                <span class="overlay"></span>
            </a>
            <a href="http://www.flickr.com/photos/astragony/" target="_blank" >
                <img src="../../images/footer/flickr2.png" alt="">
                <span class="overlay"></span>
            </a>
            <a href="http://www.flickr.com/photos/astragony/" target="_blank" >
                <img src="../../images/footer/flickr3.html" alt="">
                <span class="overlay"></span>
            </a>
            <a href="http://www.flickr.com/photos/astragony/" target="_blank" >
                <img src="../../images/footer/flickr4.png" alt="">
                <span class="overlay"></span>
            </a>
            <a href="http://www.flickr.com/photos/astragony/" target="_blank" >
                <img src="../../images/footer/flickr5.png" alt="">
                <span class="overlay"></span>
            </a>
            <a href="http://www.flickr.com/photos/astragony/" target="_blank" >
                <img src="../../images/footer/flickr6.png" alt="">
                <span class="overlay"></span>
            </a>
        </div>
        <!-- End Widget 4 -->

    </div>

</section>
<!-- End Widgets Section -->

<!-- Begin Contact us Section -->
<section class="contact_us">

    <div class="boxed">
        <h2>get in Touch</h2>
        <div class="contact_boxes columns">
            <div class="box one_fourth">
                <div class="img">
                    <img src="../../images/get_in_touch/img1.png" alt="">
                </div>
                <div class="title">General Inquiries</div>
                <div class="data">info@studio9.com</div>
            </div>
            <div class="box one_fourth">
                <div class="img">
                    <img src="../../images/get_in_touch/img2.png" alt="">
                </div>
                <div class="title">Customer Care</div>
                <div class="data">care@studio9.com</div>
            </div>
            <div class="box one_fourth">
                <div class="img">
                    <img src="../../images/get_in_touch/img3.png" alt="">
                </div>
                <span class="title">Job Seekers</span>
                <div class="data">jobs@studio9.com</div>
            </div>
            <div class="box one_fourth">
                <div class="img">
                    <img src="../../images/get_in_touch/img4.png" alt="">
                </div>
                <span class="title">Sales Inquiries</span>
                <div class="data">sales@studio9.com</div>
            </div>
        </div>
        <a href="page_contact.html" class="link1">Send us a Message</a>
        <a href="#" class="link2 active">Turn on Map</a>

    </div>

</section>
<!-- End Contact us Section -->

<!-- Begin Map Area -->
<div class="map_container">

    <div id="map"></div>

</div>
<!-- End Map Area -->

<!-- Begin Footer -->
<footer>

    <div class="boxed">
        <img class="logo" src="../../images/footer/logo.png" alt="">
        <div class="menu_links">
            <a href="#">Services</a>
            <a href="#">Strength</a>
            <a href="#">portfolio</a>
            <a href="#">about us</a>
            <a href="#">contact us</a>
            <a href="#">journal</a>
            <a href="#">Services</a>
        </div>
        <div class="copyrights">© Studio9 All Rights Reserved 2013.</div>
    </div>

</footer>
<!-- End Footer -->

<!-- Begin JavaScript -->
<script type="text/javascript" src="../../js/fractionslider/jquery.fractionslider.min.js"></script>
<script type="text/javascript" src="../../js/easy_pie_chart/jquery.easy-pie-chart.js"></script>
<script type="text/javascript" src="../../js/tooltipster/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="../../js/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="../../js/owl_carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="../../js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../../js/nicescroll/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="../../js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="../../js/isotope/isotope_js.js"></script>
<script type="text/javascript" src="../../js/jquery.fitvids.js"></script>
<script type="text/javascript" src="../../js/jquery.countTo.js"></script>
<script type="text/javascript" src="../../js/jquery.appear.js"></script>
<script type="text/javascript" src="../../js/waypoints.js"></script>
<script type="text/javascript" src="../../js/parallax.js"></script>
<script type="text/javascript" src="../../js/main.js"></script>
<!-- End JavaScript -->

</body>
</html>