.resp-tabs-wrapper, .resp-tabs-container {
    background: #e0e1e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    color:#898989;
    border-right:1px solid #e0e1e7;
    background: #e0e1e7;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    padding: 20px 15px !important;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-list li:last-child {
    border: none;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.right-tabs li {
    float:right;
    border: none;
    border-left:1px solid #e0e1e7;
}

.resp-tabs-list li:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.right-tabs li:first-child {
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.resp-tabs-list li:hover {
    color: #1fb5ad;
    background: #fff;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: both;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    color: #1fb5ad !important;
    background: #fff !important;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    background-color: #fff;
}

h2.resp-accordion {
    color:#898989;
    background: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px 15px !important;
    border-top: 1px solid #e0e1e7;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0;
    cursor: pointer;
}

h2.resp-accordion:hover {
    color:#1fb5ad !important;
    background: #fff !important;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs ul.right-tabs {
    float: right;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    color:#898989;
    border: none;
    border-bottom: 1px solid #e0e1e7;
    background: #e0e1e7;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px 15px !important;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-list li:hover {
    color: #1fb5ad !important;
    background: #fff !important;
}

.resp-vtabs .resp-tabs-list li:last-child {
    border-bottom: none;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.resp-vtabs .right-tabs li:first-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.resp-vtabs .right-tabs li:last-child {
    border-bottom: none;
    border-bottom: none;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    float: left;
    width: 70%;
    min-height: 250px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
}

.resp-vtabs li.resp-tab-active {
    color: #1fb5ad !important;
    background: #fff !important;
    position: relative;
    z-index: 1;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #e0e1e7;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid #1fb5ad;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    color:#1fb5ad !important;
    background: #fff !important;
    border-bottom: 1px solid #e0e1e7 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #e0e1e7;
}

.resp-easy-accordion .resp-tab-content:last-child {

}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: none !important; 
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: none;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border: none;
    }
}
