body {
    font-family: 'Roboto', arial;
    font-size: 13px;
    line-height: 25px;
}

::-webkit-scrollbar {
    display: none;
}

.navbar-brand {
    padding: 5px 35px;
}

.navbar-copyright {
    font-size: 11px;
    padding: 10px 0px;
    text-align: right;
    color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #e74c3c;
    background: none;
}

.nav > li.active {
    border-left: 4px solid #e74c3c;

}

.nav > li.active a {
    color:#e74c3c;
}

#wrapper{
    width: 100%;
    overflow-x: hidden;
}

#page-wrapper{
    padding: 0px 15px;
    margin-left: 18%;
}

.tocify {
    border: none;
    border-radius: 0px;
    webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    overflow: visible;
    background-color: #efefef;
    height: 100%;
    max-height: 100%;
}

.tocify img{
    margin: 15px;
}

.tocify li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}

.tocify .nav > li > a {
    padding: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.headerDoc {
    color: #005580;
}

p {
    font-size: 13px;
    margin-bottom: 10px;
}

h2 { margin-top: 30px; }
h3 { margin-top: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }

h2 strong, h3 strong, h4 strong, h5 strong {
    color: #e74c3c;
}

h2 img, h3 img {
    margin-top: -2px;
    height: 35px;
}

h4 img, h5 img {
    margin-top: -3px;
    height: 25px;
}

pre {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}

blockquote, blockquote p {
    font-size: 12px;
}

.prettyprint pre, .prettyprint code {
    margin: 0px;
}

ol.linenums li {
    padding: 5px 10px !important;
}

.linenums li:nth-child(odd) {
    background-color: #eee;
}

.linenums li:nth-child(even) {
    background-color: #ddd;
}

code {
    display: block;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #f7f7f9;
}

ul, ol {
    padding-left: 20px;
}

#toTop {
    bottom: 20px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    margin: 0;
}

@media (max-width: 767px) {
    #toc {
        position: relative;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
}